"*":
  core:
    audioBeep: false
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "be04d55c-09ce-c537-ca54-1e5997e8be09"
  "haskell-ghc-mod":
    additionalPathDirectories: [
      "/Users/ut9p/Library/Haskell/bin"
      "/Users/ut9p/.cabal/config"
    ]
  "vim-mode":
    startInInsertMode: true
  welcome:
    showOnStartup: false
